{
  "presets": ["babel-preset-react-native"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "expo": "./src/expo",
          "original-expo": "expo",
          "react-native-gesture-handler": "./src/gesture-handler",
          "original-react-native-gesture-handler":
            "react-native-gesture-handler"
        }
      }
    ],
    "transform-decorators-legacy",
    [
      "transform-runtime",
      {
        "helpers": true,
        "polyfill": false,
        "regenerator": true
      }
    ],
    [
      "babel-plugin-transform-builtin-classes",
      {
        "globals": ["HTMLElement"]
      }
    ],
    "transform-exponentiation-operator",
    "transform-export-extensions"
  ],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source"]
    }
  }
}
